body {
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: #e5e7eb;
  font-family: Poppins, sans-serif;
  margin: 0;
}

.navbar {
  padding: 16px;
  background: rgba(0,0,0,0.6);
}

.logo { height: 32px }

.container { max-width: 1100px; margin: auto }

.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 3.2rem;
  background: linear-gradient(90deg, #818cf8, #22d3ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card {
  max-width: 500px;
  margin: 40px auto;
  background: #020617;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 0 40px rgba(99,102,241,0.15);
  text-align: center;
}

.card:hover {
  background: #ffffff;
  color: #020617;
}

.btn {
  background: #6366f1;
  color: white;
  padding: 12px 26px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.glow {
  box-shadow: 0 0 30px #6366f1;
}

.admin-panel input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}
