* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background: radial-gradient(circle at top, #1e293b, #020617);
  color: #e5e7eb;
}

/* NAVBAR */

.navbar {
  background: rgba(2,6,23,0.85);
  position: sticky;
  top: 0;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 32px;
}

/* STATUS COLORS */
.status-online {
  color: #22c55e;
  font-weight: 700;
}

.status-offline {
  color: #ef4444;
  font-weight: 700;
}

/* STATUS BOX */

.status-box {
  max-width: 520px;
  margin: 80px auto;
  background: #020617;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
}

.server-icon {
  width: 96px;
  border-radius: 16px;
  margin: 15px auto;
}

/* BUTTON */

.btn {
  background: #6366f1;
  color: white;
  padding: 12px 28px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btn.small {
  padding: 8px 18px;
}

/* TOAST */

#toast {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #020617;
  padding: 14px 24px;
  border-radius: 12px;
  opacity: 0;
  transition: 0.3s;
}

#toast.show {
  opacity: 1;
}
